/online-ordering-system/nbproject/private/
/online-ordering-system/online-ordering-system-war/nbproject/private/
/online-ordering-system/online-ordering-system-ejb/nbproject/private/
/online-ordering-system/online-ordering-system-war/build/
/online-ordering-system/online-ordering-system-ejb/dist/
/online-ordering-system/online-ordering-system-ejb/build/